* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100vw;
  height: 100vh;
  background-image: url(images/suf-background.jpg);
  background-size: 100% 100%;
  position: relative;
}

.grey-box, .bottom-box {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.grey-box {
  height: 20vh;
  top: 20%;
}

.bottom-box {
  height: 10vh;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 25%;
}

.logo {
  height: 100%;
}

.company-name, .swipe-up {
  color: white;
}

.company-name {
  font-size: 10vh;
}

.swipe-up {
  font-size: 3vh;
}

.main-body {
  width: 100vw;
  padding: 35px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-message, .inputs-container, .first-name, .last-name, .email, .phone-number, .password, .confirm-password, .input-box {
  width: 100%;
}

.main-message {
  font-size: 40px;
  margin-bottom: 250px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 2px darkgrey solid;
  background-color: lightgray;
}

label {
  font-size: 30px;
}

input {
  height: 50px;
  width: 100%;
  border: 2px black solid;
}

input[type=submit] {
  font-size: 30px;
  font-weight: bold;
  width: 25%;
}