* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100vw;
  height: 100vh;
  background-image: url(images/suf-background.jpg);
  background-size: 100% 100%;
  position: relative;
}

.grey-box, .bottom-box {
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.grey-box {
  height: 20vh;
  top: 20%;

}

.bottom-box {
  height: 10vh;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 25%;
}

.logo {
  height: 80%;
}

.company-name, .swipe-up {
  color: white;
}

.company-name {
  font-size: 3rem;
  text-align: center;
  padding: 3%;
}

.swipe-up {
  font-size: 3vh;
}

.main-body {
  width: 100vw;
  padding: 35px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4C289;
}

.main-message, .inputs-container, .first-name, .last-name, .email, .phone-number, .password, .confirm-password, .input-box {
  width: 100%;
}

.main-message {
  font-size: 1.5em;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #FAAD56;
  border: 2px black solid;
}

.form-start {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px black solid;
}

label {
  font-size: 1em;
}

input {
  height: 50px;
  width: 100%;
  border: 2px black solid;
  font-size: 1.5rem;
  font-weight: 200;
}

input[type=submit] {
  font-size: 1em;
  font-weight: bold;
  width: 75%;
  margin: 10px;
  background-color: #FAAD56;
  box-shadow: 1px 1px black;
}